.container {
    max-width: 50rem;
    height: 100%;
    margin: 0 auto;
    padding: var(--gap-lg);
}

@media screen and (min-width: 768px) {
    .container {
        padding: var(--gap-xl);
    }
}
