.container {
    height: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--gap-lg);
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        padding: var(--gap-xl);
    }
}
