.container {
    height: calc(100vh - var(--top-bar-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    min-height: 20rem;
}

.groups {
    display: flex;
    flex-wrap: wrap;
}

.group {
    display: flex;
    white-space: pre-wrap;
}