.paragraph {
    margin-bottom: var(--gap-lg);
}

.link {
    color: var(--color-text-secondary);
    text-decoration: underline;

    &:hover {
        color: var(--color-text-cta);
    }
}

.image {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-md);
}

.pre {
    padding: var(--gap-sm);
    border-radius: var(--border-radius-md);
    background-color: var(--color-bg-surface-muted);
}