.header {
	height: var(--top-bar-height);
	display: flex;
	align-items: center;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding-inline: 4rem;
}

.logo {
	position: relative;
	width: 4rem;
	height: 2rem;
}

.wrapper {
	transition: color 0.2s ease-in-out;

	&:hover {
		color: var(--text-color-primary);
	}
}

.link {
	font-size: 1rem;
	font-weight: 500;
}

.active {
	@extend .link;
	font-weight: 600;
	color: var(--text-color-primary);
}

.idle {
	@extend .link;
	color: var(--text-color-secondary);
}