@import "src/stylesheets/keyframes";

.article {
    animation: fade-in 0.2s;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-xs);
    margin-bottom: var(--gap-md);
}

.info {
    margin-block: var(--gap-md);
    padding: var(--gap-xs) var(--gap-sm);
    border-bottom: var(--border-width-sm) solid var(--color-border-muted);
    border-top: var(--border-width-sm) solid var(--color-border-muted);

    > :not(:last-child) {
        &::after {
            content: '-';
            margin-inline: var(--gap-xs);
        }
    }
}

.infoItem {
    font-size: var(--font-size-date-md);
    color: var(--color-text-muted);
}
