@import "src/stylesheets/mixins";

.container,
.heading,
.paragraph,
.wrapper {
    opacity: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: var(--gap-sm);
    opacity: 1;

    .heading {
        @include fade-in-lower(-10px, 0.4s);

        // The Projector width animation duration
        animation-delay: 0.4s;
    }

    .paragraph {
        @include fade-in-lower(-10px, 1s);
        margin-block: var(--gap-sm);
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--color-text-muted);

        // The Projector width animation duration
        animation-delay: 0.4s;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);

        @include fade-in-lower(-10px, 1.8s);

        // The Projector width animation duration
        animation-delay: 0.4s;
    }
}

.field {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
    padding: var(--gap-xs);
    border-radius: var(--border-radius-sm);
    border: none;
    background-color: var(--color-bg-surface);
    cursor: pointer;

    .label,
    .icon {
        line-height: 1;
        transition: color ease-in-out 0.4s;
        font-size: var(--font-size-icon-sm);
        color: var(--color-text-muted);
    }
    
    &:hover {
        .label {
            color: var(--color-text);
        }

        .icon {
            color: var(--color-text);
        }
    }
}

.checkmark {
    transition: color ease-in-out 0.2s;
    font-size: var(--font-size-icon-sm);
}

.hidden {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
