.base {
    line-height: 1;
}

[data-remove-margin="true"].base {
    margin-bottom: 0;
}

.extraLarge {
    @extend .base;
    margin-bottom: var(--gap-xl);
    font-size: 3rem;
    font-weight: 900;
}

.large {
    @extend .base;
    margin-bottom: var(--gap-md);
    font-size: 1.5rem;
    font-weight: 700;
}

.medium {
    @extend .base;
    margin-bottom: var(--gap-md);
    font-size: 1.8rem;
    font-weight: 700;
}

.small {
    @extend .base;
    margin-bottom: var(--gap-sm);
    font-size: 1.4rem;
    font-weight: 700;
}

.extraSmall {
    @extend .base;
    margin-bottom: var(--gap-xs);
    font-size: 0.8rem;
    font-weight: 700;
}
