.base {
    line-height: 1;
    font-weight: 800;
    color: var(--color-text);

    &[data-size="xl"] {
        margin-bottom: var(--gap-lg);
        font-size: var(--font-size-heading-xl);
        font-weight: 900;
    }

    &[data-size="lg"] {
        margin-bottom: var(--gap-md);
        font-size: var(--font-size-heading-lg);
    }

    &[data-size="md"] {
        margin-bottom: var(--gap-md);
        font-size: var(--font-size-heading-md);
    }
    
    &[data-size="sm"] {
        margin-bottom: var(--gap-xs);
        font-size: var(--font-size-heading-sm);
    }

    &[data-size="xs"] {
        margin-bottom: var(--gap-xs);
        font-size: var(--font-size-heading-xs);
    }

    &[data-remove-margin="true"] {
        margin-bottom: 0;
    }
}

[data-theme="dark"] {
    [data-color="yellow"].base {
        color: var(--color-brand-yellow);
    }
}