.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.groups {
  max-width: 40rem;
}

.group > span {
  display: inline-block;
  white-space: pre-wrap;
}

