.button {
    width: fit-content;
    padding-block: var(--gap-xs);
    padding-inline: var(--gap-sm);
    background-color: var(--color-brand-green);
    font-size: var(--font-size-label-sm);
    font-weight: 500;
    color: var(--color-brand-green-foreground);
    cursor: pointer;
}
