@import "src/stylesheets/mixins";

@keyframes alternate-svg-color {
	0% {
		fill: var(--color-yellow);
	}

	25% {
		fill: var(--color-purple);
	}

	50% {
		fill: var(--color-green);
	}

	75% {
		fill: var(--color-white);
	}

	100% {
		fill: var(--color-yellow);
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include fade-in-lower(-4px, 0.4s);
}

.spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 7rem;

	> svg > path {
		animation: alternate-svg-color 3s ease-in-out infinite;
	}
}

.message {
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--color-white);
}