@import "src/stylesheets/mixins";

@keyframes alternate-svg-color {
    0% {
        fill: var(--color-brand-yellow);
    }

    25% {
        fill: var(--color-brand-purple);
    }

    50% {
        fill: var(--color-brand-green);
    }

    100% {
        fill: var(--color-brand-yellow);
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);

    @include fade-in-lower(-4px, 0.4s);
}

.spinner {
    font-size: 4rem;

    > svg > path {
        animation: alternate-svg-color 3s ease-in-out infinite;
    }
}

.message {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-text);
}
