@import "src/stylesheets/placeholders";
@import "src/stylesheets/keyframes";

.button {
    padding: var(--gap-xs);
    background: var(--color-bg-surface-muted);
    cursor: pointer;

    &:hover {
        .icon {
            color: var(--color-text);
        }
    }
}

.icon {
    @extend %flex-center-center;
    transition: color 0.4s ease-in-out;
    animation: fade-in 0.4s;
    font-size: var(--font-size-icon-lg);
    color: var(--color-text-muted);
}
