@import "src/stylesheets/placeholders";
@import "src/stylesheets/keyframes";

.container {
    animation: fade-in 0.2s;

    > :not(:last-child) {
        margin-bottom: var(--gap-md);
    }
}

.url {
    width: fit-content;
    display: inline-block;
    margin-top: var(--gap-xs);
    color: var(--color-text-muted);
    font-size: var(--font-size-label-md);
    text-decoration: underline;
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

.item {
    color: var(--color-text-muted);
    font-size: var(--font-size-body);
    font-weight: 500;
}

.frame {
    @extend %flex-center-center;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: var(--gap-lg);
    padding: var(--gap-lg);
    animation: fade-in 1s;

    &[data-theme="brown"] {
        background: linear-gradient(89.65deg, var(--color-project-light-brown) 0.26%, var(--color-project-brown) 99.67%);
    }

    &[data-theme="blue"] {
        background: linear-gradient(89.65deg, var(--color-project-light-blue) 0.26%, var(--color-project-blue) 99.67%);
    }
}

.video {
    width: 100%;
    max-width: 40rem;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow);
}