@import "src/stylesheets/placeholders";
@import "src/stylesheets/keyframes";

.wrapper {
    animation: fade-in 0.2s;

    > :not(:last-child) {
        margin-bottom: var(--gap-md);
    }
}

.back {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.35rem;
    margin-bottom: var(--gap-md);
}

.chevron {
    @extend %flex-center-center;
    font-size: 1.2rem;
    color: var(--color-text);
}

.backToProject {
    font-size: 0.8rem;
    color: var(--color-text);
}

.heading {
    color: var(--color-text);
}

.projectUrl {
    width: fit-content;
    display: inline-block;
    margin-top: var(--gap-xs);
    color: var(--color-text-muted);
    text-decoration: underline;
}

.stack {
    .label {
        margin-top: 0.25rem; // Align label to description
    }
}

.label {
    margin-bottom: var(--gap-xs);
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--color-text);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

.listItem {
    font-weight: 500;
}

.frame {
    @extend %flex-center-center;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: var(--gap-lg);
    padding: var(--gap-lg);
    animation: fade-in 1s;

    &[data-theme="brown"] {
        background: linear-gradient(89.65deg, var(--color-project-light-brown) 0.26%, var(--color-project-brown) 99.67%);
    }

    &[data-theme="blue"] {
        background: linear-gradient(89.65deg, var(--color-project-light-blue) 0.26%, var(--color-project-blue) 99.67%);
    }
}

.video {
    width: 100%;
    max-width: 40rem;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow);
}

@media screen and (min-width: 992px) {
    .wrapper {
        display: grid;
        grid-template-rows: [row1] auto [row2] auto;
        grid-template-columns: [col1] auto [col2] 1fr;
        column-gap: var(--gap-lg);
    }

    .header {
        grid-row: row1;
        grid-column: col2;
    }

    .text {
        grid-row: row2;
        grid-column: col2;
    }

    .stack {
        grid-row: row2;
        grid-column: col1;
    }
}
