.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.groups {
    display: flex;
    flex-wrap: wrap;
}

.group {
    display: flex;
    white-space: pre-wrap;
}